<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Excluir la carpeta bionano-api de las rutas de React
  RewriteCond %{REQUEST_URI} ^/bionano-api/ [NC]
  RewriteRule .* - [L]

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

# Opcional: Mejoras de rendimiento y caché para React
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/css application/javascript
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType text/html "access plus 0 seconds"
  ExpiresByType text/css "access plus 1 year"
  ExpiresByType application/javascript "access plus 1 year"
  ExpiresByType image/* "access plus 1 year"
  ExpiresByType font/* "access plus 1 year"
</IfModule>